extends layout

block content
  h1 League: #{league.name}

  div(style='margin-left:20px;margin-top:20px')
    h4 Teams
    dl
      each team in league_teams
        dt
          a(href=team.url) #{team.title}
        dd #{team.summary}
      else
        p This league has no teams.

  hr
  p
    a(href=league.url + '/delete') Delete league
  p
    a(href=league.url + '/update') Update league
